## Shopping Behavior & Preferences ##

#### Extract

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\sinta\new_folder\shopping.csv")
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

##### Data Exploration

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3900 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3900.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.749949,25.351538
std,1125.977353,15.207589,23.685392,0.716223,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.700000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
df.nunique()

Customer ID               3900
Age                         53
Gender                       2
Item Purchased              25
Category                     4
Purchase Amount (USD)       81
Location                    50
Size                         4
Color                       25
Season                       4
Review Rating               26
Subscription Status          2
Shipping Type                6
Discount Applied             2
Promo Code Used              2
Previous Purchases          50
Payment Method               6
Frequency of Purchases       7
dtype: int64

In [6]:
print(df.isnull().sum())

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [7]:
duplicates = df.duplicated().sum()
duplicates

np.int64(0)

#### Transform

##### Data Standardized

In [8]:
# 1. List of columns to standardize
columns_to_standardize = ['Gender', 'Item Purchased', 'Category', 'Location', 'Size', 'Color', 'Season', 'Subscription Status', 'Shipping Type', 
'Payment Method', 'Frequency of Purchases']

# 2. Loop through the list 
for col in columns_to_standardize:
    df[col] = df[col].str.strip().str.title()

##### Data Type Conversion

In [11]:
# 1. List of columns
columns_to_convert = ['Gender', 'Size', 'Color', 'Season', 'Shipping Type', 'Payment Method', 'Frequency of Purchases']

# 2. Loop through the list
for col in columns_to_convert:
    df[col] = df[col].astype('category')

In [12]:
# 1. Mapping dictionary
mapping = {'Yes': True, 'No': False}

# 2. List of columns to convert
columns_to_convert = ['Subscription Status', 'Discount Applied', 'Promo Code Used']

# 3. Loop 
for col in columns_to_convert:
    df[col] = df[col].map(mapping)
    df[col] = df[col].astype(bool)

In [13]:
# Define the boundaries for Low, Medium, and High ratings
bins = [0.99, 3.5, 4.5, 5.0] 
labels = ['Low', 'Medium', 'High']


df['Rating Category'] = pd.cut(  
    df['Review Rating'],
    bins=bins,
    labels=labels,
    include_lowest=True
)

print(df['Rating Category'].value_counts())

Rating Category
Low       1646
Medium    1554
High       700
Name: count, dtype: int64

In [ ]:
# Rename for Efiiciency
df = df.rename(columns={'Review Rating': 'Rating'})

In [16]:
new_order = [
    # 1. CUSTOMER IDENTITY & DEMOGRAPHICS (Who)
    'Customer ID', 
    'Age',
    'Gender',
    
    # 2. TRANSACTION DETAILS (The Purchase Itself)
    'Purchase Amount (USD)',
    'Item Purchased',
    'Category',
    'Size',
    'Color',
    'Season',
    
    # 3. LOCATION & BEHAVIOR (Where and When)
    'Location',
    'Frequency of Purchases', 
    'Previous Purchases',
    'Shipping Type',
    'Payment Method',

    # 4. PROMOTION & LOYALTY (What drove the sale & Future Potential)
    'Promo Code Used',
    'Subscription Status',
    
    # 5. OUTCOME & RATING (Satisfaction)
    'Rating Category',
    'Rating', 
]

df = df[new_order]

print("New Column Order:")
print(df.columns)

New Column Order:
Index(['Customer ID', 'Age', 'Gender', 'Purchase Amount (USD)',
       'Item Purchased', 'Category', 'Size', 'Color', 'Season', 'Location',
       'Frequency of Purchases', 'Previous Purchases', 'Shipping Type',
       'Payment Method', 'Promo Code Used', 'Subscription Status',
       'Rating Category', 'Rating'],
      dtype='object')

In [20]:
# 1. Calculate the correlation
print("Correlation Check: ", df['Promo Code Used'].corr(df['Subscription Status']))

# 2. Cross-tabulation (to see the counts in each combination)
print("Cross-Tabulation Check: ", pd.crosstab(df['Promo Code Used'], df['Subscription Status']))

Correlation Check:  0.7002024919882542
Cross-Tabulation Check:  Subscription Status  False  True
Promo Code Used
False                 2223      0
True                   624   1053

In [21]:
df.to_csv("shopping_clean.csv", index=False, quoting=1)

All data is cleaned up ready to use for data analysis

#### Load

In [22]:
df = pd.read_csv("shopping_clean.csv")
df

,Customer ID,Age,Gender,Purchase Amount (USD),Item Purchased,Category,Size,Color,Season,Location,Frequency of Purchases,Previous Purchases,Shipping Type,Payment Method,Promo Code Used,Subscription Status,Rating Category,Rating
0,1,55,Male,53,Blouse,Clothing,L,Gray,Winter,Kentucky,Fortnightly,14,Express,Venmo,True,True,Low,3.1
1,2,19,Male,64,Sweater,Clothing,L,Maroon,Winter,Maine,Fortnightly,2,Express,Cash,True,True,Low,3.1
2,3,50,Male,73,Jeans,Clothing,S,Maroon,Spring,Massachusetts,Weekly,23,Free Shipping,Credit Card,True,True,Low,3.1
3,4,21,Male,90,Sandals,Footwear,M,Maroon,Spring,Rhode Island,Weekly,49,Next Day Air,Paypal,True,True,Low,3.5
4,5,45,Male,49,Blouse,Clothing,M,Turquoise,Spring,Oregon,Annually,31,Free Shipping,Paypal,True,True,Low,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,28,Hoodie,Clothing,L,Turquoise,Summer,Virginia,Weekly,32,2-Day Shipping,Venmo,False,False,Medium,4.2
3896,3897,52,Female,49,Backpack,Accessories,L,White,Spring,Iowa,Bi-Weekly,41,Store Pickup,Bank Transfer,False,False,Medium,4.5
3897,3898,46,Female,33,Belt,Accessories,L,Green,Spring,New Jersey,Quarterly,24,Standard,Venmo,False,False,Low,2.9
3898,3899,44,Female,77,Shoes,Footwear,S,Brown,Summer,Minnesota,Weekly,24,Express,Venmo,False,False,Medium,3.8
3899,3900,52,Female,81,Handbag,Accessories,M,Beige,Spring,California,Quarterly,33,Store Pickup,Venmo,False,False,Low,3.1

### Shopping Behavior and Preferences Analysis

#### I. Foundational Market & Inventory Analysis Sizing & Optimal Timing (When & Where)

In [23]:
# Core Demand (Most-purchased Item)
df['Item Purchased'].value_counts().head()

Item Purchased
Blouse     171
Pants      171
Jewelry    171
Shirt      169
Dress      166
Name: count, dtype: int64

In [24]:
# Peak Season
df['Season'].value_counts().sort_values(ascending=False)

Season
Spring    999
Fall      975
Winter    971
Summer    955
Name: count, dtype: int64

In [25]:
# Value Drivers
df.groupby('Category')['Purchase Amount (USD)'].sum().sort_values(ascending=False)

Category
Clothing       104264
Accessories     74200
Footwear        36093
Outerwear       18524
Name: Purchase Amount (USD), dtype: int64

In [26]:
# Regional Inventory
df.groupby('Location')['Item Purchased'].agg(lambda x: x.mode()[0])

Location
Alabama            Jewelry
Alaska            Backpack
Arizona           Backpack
Arkansas            Gloves
California           Dress
Colorado            Hoodie
Connecticut           Coat
Delaware             Pants
Florida               Coat
Georgia              Dress
Hawaii             Handbag
Idaho                 Belt
Illinois             Shirt
Indiana              Skirt
Iowa               Sweater
Kansas              Blouse
Kentucky           Handbag
Louisiana           Hoodie
Maine                Shoes
Maryland             Skirt
Massachusetts        Boots
Michigan           Sandals
Minnesota            Skirt
Mississippi        Handbag
Missouri          Sneakers
Montana               Coat
Nebraska          Backpack
Nevada            Backpack
New Hampshire       Blouse
New Jersey            Belt
New Mexico          Hoodie
New York            Gloves
North Carolina      Gloves
North Dakota        Jacket
Ohio               Sandals
Oklahoma            Jacket
Oregon               Shirt
Pennsylvania         Scarf
Rhode Island         Dress
South Carolina         Hat
South Dakota      Backpack
Tennessee            Scarf
Texas                Shoes
Utah                Shorts
Vermont              Pants
Virginia            Shorts
Washington           Socks
West Virginia         Coat
Wisconsin           Blouse
Wyoming              Shirt
Name: Item Purchased, dtype: object

In [27]:
# Market Focus
df['Location'].value_counts().head()

Location
Montana       96
California    95
Idaho         93
Illinois      92
Alabama       89
Name: count, dtype: int64

In [28]:
# Most Purchased by Location
most_purchased_by_location = df.groupby('Location')['Item Purchased'].agg(lambda x: x.mode()[0])
results = most_purchased_by_location.loc[['Montana', 'California', 'Idaho', 'Illinois', 'Alabama']]
results

Location
Montana          Coat
California      Dress
Idaho            Belt
Illinois        Shirt
Alabama       Jewelry
Name: Item Purchased, dtype: object

#### II. Merchandising & Product Optimization

In [29]:
# Peak Season Ordering
season_totals = (
    df.groupby('Season')['Item Purchased']
      .count()
      .sort_values(ascending=False)  
)

season_order = season_totals.index

result = (
    df.groupby(['Season', 'Item Purchased'])
      .size()
      .reset_index(name='Total Qty')
      .sort_values(['Season', 'Total Qty'], ascending=[True, False])
      .groupby('Season')
      .head() 
      .set_index('Season')
      .loc[season_order]  
      .reset_index()
)

result

    Season Item Purchased  Total Qty
0   Spring        Sweater         52
1   Spring         Shorts         47
2   Spring         Blouse         46
3   Spring           Coat         46
4   Spring          Skirt         46
5     Fall         Jacket         54
6     Fall            Hat         50
7     Fall        Handbag         48
8     Fall          Skirt         46
9     Fall        Sandals         44
10  Winter     Sunglasses         52
11  Winter          Pants         51
12  Winter          Shirt         50
13  Winter         Hoodie         48
14  Winter        Jewelry         47
15  Summer          Pants         50
16  Summer          Dress         47
17  Summer        Jewelry         47
18  Summer          Shoes         46
19  Summer       Backpack         45

In [30]:
# Design & Assortment
(
    df.groupby(['Season', 'Gender', 'Color'])
      .size()
      .reset_index(name='Count')
      .sort_values(['Season', 'Gender', 'Count'], ascending=[True, True, False])
      .groupby(['Season', 'Gender'])
      .head(5)
)

     Season  Gender      Color  Count
11     Fall  Female    Magenta     23
12     Fall  Female     Maroon     17
13     Fall  Female      Olive     17
18     Fall  Female        Red     17
14     Fall  Female     Orange     16
49     Fall    Male     Yellow     34
26     Fall    Male      Black     31
30     Fall    Male       Cyan     30
32     Fall    Male       Gray     30
38     Fall    Male      Olive     30
51   Spring  Female      Black     19
74   Spring  Female     Yellow     18
70   Spring  Female       Teal     17
54   Spring  Female   Charcoal     16
62   Spring  Female     Maroon     16
82   Spring    Male       Gray     37
88   Spring    Male      Olive     37
80   Spring    Male       Cyan     31
96   Spring    Male  Turquoise     31
91   Spring    Male       Pink     30
108  Summer  Female      Green     19
119  Summer  Female     Silver     19
120  Summer  Female       Teal     18
111  Summer  Female    Magenta     15
103  Summer  Female      Brown     14
144  Summer    Male     Silver     40
127  Summer    Male       Blue     33
148  Summer    Male      White     33
126  Summer    Male      Black     31
130  Summer    Male       Cyan     31
166  Winter  Female       Pink     22
159  Winter  Female     Indigo     17
174  Winter  Female     Yellow     17
152  Winter  Female       Blue     16
157  Winter  Female       Gray     14
183  Winter    Male      Green     38
178  Winter    Male      Brown     32
190  Winter    Male      Peach     32
195  Winter    Male       Teal     32
179  Winter    Male   Charcoal     31

In [31]:
# Persona-Specific Product Fit
df.groupby(pd.cut(df['Age'], bins=[18, 25, 35, 45, 55, 65, 100]))[['Item Purchased', 'Category', 'Size']].agg(lambda x: x.mode()[0])

C:\Users\sinta\AppData\Local\Temp\ipykernel_4132\2928109235.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.cut(df['Age'], bins=[18, 25, 35, 45, 55, 65, 100]))[['Item Purchased', 'Category', 'Size']].agg(lambda x: x.mode()[0])

          Item Purchased  Category Size
Age
(18, 25]         Sweater  Clothing    M
(25, 35]           Shirt  Clothing    M
(35, 45]           Scarf  Clothing    M
(45, 55]           Shoes  Clothing    M
(55, 65]          Shorts  Clothing    M
(65, 100]        Jewelry  Clothing    M

##### III. Segmentation & Loyalty Program Value

In [32]:
# Loyalty Demographics
pd.crosstab(df['Gender'], df['Subscription Status'], normalize='index') * 100

Subscription Status       False      True
Gender
Female               100.000000   0.000000
Male                  60.294118  39.705882

In [33]:
# ROI of Loyalty
result = pd.crosstab(
    df['Subscription Status'],
    df['Frequency of Purchases'],
    normalize='index'
) * 100

result

Frequency of Purchases,Annually,Bi-Weekly,Every 3 Months,Fortnightly,Monthly,Quarterly,Weekly
Subscription Status,,,,,,,
False,14.471373,14.295750,15.103618,13.663505,14.190376,14.857745,13.417633
True,15.194682,13.295347,14.624881,14.529915,14.150047,13.295347,14.909782

In [34]:
# Promo Code Discipline
df.groupby(pd.cut(df['Age'], bins=[18, 25, 35, 45, 55, 65, 100]))['Promo Code Used'] \
  .value_counts(normalize=True)

C:\Users\sinta\AppData\Local\Temp\ipykernel_4132\2123949475.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.cut(df['Age'], bins=[18, 25, 35, 45, 55, 65, 100]))['Promo Code Used'] \

Age        Promo Code Used
(18, 25]   False              0.565737
           True               0.434263
(25, 35]   False              0.564690
           True               0.435310
(35, 45]   False              0.585734
           True               0.414266
(45, 55]   False              0.567065
           True               0.432935
(55, 65]   False              0.570667
           True               0.429333
(65, 100]  False              0.557746
           True               0.442254
Name: proportion, dtype: float64

##### IV. Customer Satisfaction & Quality Control

In [35]:
# Targeted Quality Control
df.groupby('Gender')['Rating'].mean()

Gender
Female    3.741426
Male      3.753959
Name: Rating, dtype: float64

In [36]:
# Satisfaction-Value Correlation
df.groupby('Rating Category')['Purchase Amount (USD)'].sum()

Rating Category
High      42703
Low       97486
Medium    92892
Name: Purchase Amount (USD), dtype: int64

In [37]:
# Transaction Friction
df.groupby(pd.cut(df['Age'], bins=[18, 25, 35, 45, 55, 65, 100]))['Payment Method'].value_counts()

C:\Users\sinta\AppData\Local\Temp\ipykernel_4132\1799238799.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(pd.cut(df['Age'], bins=[18, 25, 35, 45, 55, 65, 100]))['Payment Method'].value_counts()

Age        Payment Method
(18, 25]   Cash               90
           Bank Transfer      86
           Paypal             84
           Debit Card         83
           Credit Card        81
           Venmo              78
(25, 35]   Venmo             135
           Credit Card       127
           Bank Transfer     121
           Debit Card        120
           Paypal            120
           Cash              119
(35, 45]   Paypal            136
           Debit Card        125
           Credit Card       123
           Cash              121
           Venmo             120
           Bank Transfer     104
(45, 55]   Paypal            150
           Debit Card        124
           Cash              123
           Credit Card       123
           Bank Transfer     121
           Venmo             112
(55, 65]   Cash              139
           Credit Card       137
           Paypal            130
           Venmo             125
           Debit Card        118
           Bank Transfer     101
(65, 100]  Bank Transfer      69
           Credit Card        66
           Cash               61
           Debit Card         60
           Venmo              53
           Paypal             46
Name: count, dtype: int64

In [38]:
# Q1: 25%, Q2: 50% (Median), Q3: 75%
quantiles = df['Previous Purchases'].quantile([0.25, 0.5, 0.75])

# Loyalty Segment
bins = [0, quantiles[0.25], quantiles[0.5], quantiles[0.75], df['Previous Purchases'].max() + 1]
labels = ['Infrequent', 'Low Frequency', 'Medium Frequency', 'High Frequency']

df['Loyalty Segment'] = pd.cut(
    df['Previous Purchases'],
    bins=bins,
    labels=labels,
    right=False, 
    include_lowest=True
)

print(df['Loyalty Segment'].value_counts(normalize=True))

Loyalty Segment
Medium Frequency    0.260513
High Frequency      0.255897
Infrequent          0.242308
Low Frequency       0.241282
Name: proportion, dtype: float64

In [40]:
# Avg purchase per loyalty segment
purchase_summary = df.groupby('Loyalty Segment')['Purchase Amount (USD)'].agg(
    Avg_Purchase = 'mean',
    Total_Customers = 'count'
).reset_index()

purchase_summary

C:\Users\sinta\AppData\Local\Temp\ipykernel_4132\3099913578.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  purchase_summary = df.groupby('Loyalty Segment')['Purchase Amount (USD)'].agg(

    Loyalty Segment  Avg_Purchase  Total_Customers
0        Infrequent     60.448677              945
1     Low Frequency     58.612115              941
2  Medium Frequency     59.631890             1016
3    High Frequency     60.337675              998

What does loyalty segment means?
- Infrequent: Highest churn risk (not yet engaged) -> Retention strategy: offer a referral code or the next free shipping promotion.
- Low to Medium Frequency: Need to be re-engaged/reactivated -> Retention strategy: Offer personalized product recommendations based on previous purchases (customer's behaviour and preferences).
- High Frequency: Focus on retain loyal customers, VIP member, early access to the latest product.

In [43]:
df.columns

Index(['Customer ID', 'Age', 'Gender', 'Purchase Amount (USD)',
       'Item Purchased', 'Category', 'Size', 'Color', 'Season', 'Location',
       'Frequency of Purchases', 'Previous Purchases', 'Shipping Type',
       'Payment Method', 'Promo Code Used', 'Subscription Status',
       'Rating Category', 'Rating', 'Loyalty Segment'],
      dtype='object')